.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url(/images/chopsticks.svg);
  }

  .bg-info {
    background-color: #f24236 !important;
  }

  .nav-item { 
    text-align: right;
  }