.navbar { 
  font-family: 'Advent Pro', sans-serif;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.55);
    border-color: rgba(0, 0, 0, 0.1);
}

.bg-info {
    background-color: #f24236 !important;
    font-weight: bold;
}

.nav-item { 
    text-align: right;
}

.badge {  
  background-color: rgba(246, 245, 174, 0.5) !important;
  padding: 0.2em 0.5em;
}
.jumbotron {
    position: relative;
    overflow: hidden;
    height: min-content;
    background-image: linear-gradient(180deg, rgba(242,66,54,0.5), rgba(245,247,73,0.3)) !important; 
}

.container-sm {
  max-height: fit-content;
    position: relative;
    color: #cee0e7;
    z-index: 2;
}

#video-background{ 
  position: absolute;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: -1;
}

.fonjmd { 
  font-family: 'Tangerine', sans-serif;
}

.fonjbg {  
  font-family: 'Advent Pro', sans-serif;
}

.fontjtex { 
  font-family: 'Advent Pro', sans-serif;
  
}

.border-dark {  
  margin: 0;
  max-width: max-content;
  border-radius: 10px;
  border: 1px solid !important;
  background-color: rgba(245, 247, 73, 0.5);
}

.bg-dark {  
  background-color: rgba(86, 85, 84, 0.8) !important;
}

section {
  max-height: 100% !important;
  min-height: 100vh !important;   
  background-image: linear-gradient(180deg, rgba(142, 66, 54, 1), rgba(245, 247, 73, 0.7), rgba(246, 245, 174, 0.5), rgba(46, 134, 171, 0.7), rgba(86, 85, 84, 1)) !important;
}


.flags{ 
  max-width: 50%;
  max-height: 50%;
  border: 2px solid rgba(245, 247, 73, 0.5);
  border-radius: 10px ;
}

.pricetag { 
  float:right;
  font-weight: bolder;
}


